.webpage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px;
  margin: 2px 35px 4px 20px;
  background-color: rgb(160, 191, 146);
}

.about-us-page {
  display: inline-block;
  margin-left: 80px;
}

.product-list {
  display: inline-block;
  margin-left: 1px;
}
