* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 16px;
  background-color: rgb(160, 191, 146);
}

.header-link {
  margin-right: 16px;
}

.content-container {
  padding: 8px 16px;
}
